/* setup tooltips */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 16px;
}

.input-field,
.text-field {
  width: 100%;
}

.group {
  justify-content: space-between;
}

.one-fourth {
  width: 23%;
}

.one-fourth-bigger {
  width: 30%;
}

.one-fourth-smaller {
  width: 18%;
}

.one-third {
  width: 30%;
}

.half {
  width: 45%;
}

.flex-row {
  flex-direction: row;
}

.flex-column,
.form-flex,
form fieldset {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.align-bottom {
  align-items: flex-end;
}

input,
select,
label,
textarea,
fieldset,
.tooltip,
.group {
  margin-bottom: 8px;
}

.one-fourth input {
  width: 100%;
}

#labelIdQuestion {
  margin-right: 20px;
}

#idQuestion {
  width: 140px;
}

.label-title {
  color: rgba(0, 0, 0, 0);
}

input[name="Signature"] {
  display: hidden;
}

.agreement-message {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid;
  padding: 15px;
}

label {
  font-weight: bold;
}

legend {
  font-weight: bold;
  font-size: 1.5rem;
}

fieldset {
  padding: 25px 15px;
  margin-bottom: 50px;
}

.moreMID {
  flex-wrap: nowrap;
}

.error-border {
  border: 1px solid red;
}

.tooltip-parent-email {
  position: relative;
}

.dot-email {
  position: absolute;
  right: -20px;
  top: 15px;
}

.red {
  color: red;
}

#errors {
  /* padding: 15px; */
}

.ein {
  max-width: 150px;
}

#errors ul {
  color: #d8000c;
  background-color: #ffd2d2;
  list-style-type: none;
  padding: 15px 0;
}

#errors ul li {
  padding: 0 15px;
}

.one-fourth-smaller {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .moreMID {
    flex-wrap: wrap;
  }
  .one-fourth,
  .one-fourth-bigger,
  .one-fourth-smaller,
  .one-third,
  .half {
    width: 100%;
  }
}
